@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400;500;600&family=Open+Sans&display=swap");

:root {
    --blue: #62929e;
    --light-gray: #ececec;
    --pale-gray: #ffffff6e;
    --off-white: #f7f9f9;
    --light-cream: #fbeee6;
    --dark-gray: #363636;
    --navy: #031926;
    --wrong-answer-red: #ff3333;
    --right-answer-green: #50c878;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 8rem;
    scroll-behavior: smooth;
}

header {
    padding: 7rem;
}

.text-center {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    background: url("../images/background.png") no-repeat center center;
    background-size: cover;

}

main {
    flex: 1 0 auto;
    /* allows the content to grow but not shrink */
}

body::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
}

#start-area {
    line-height: 3;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 3rem;
    background-color: #ffffff9e;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 0 1rem 0.5rem;
    background-blend-mode: overlay;
    color: var(--dark-gray);
    
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(9rem, 1fr));
    justify-items: center;
    gap: 2rem;
    margin: 5rem 0;
}

.btn {
    background-color: var(--blue);
    border: 2px solid;
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 1rem 0 1rem 0;
    color: var(--dark-gray);
    width: 30vw;
}

.start-btn,
.next-btn {
    width: 15vw;
}

.btn-a {
    width: fit-content;
}

.btn:hover {
    border-color: var(--light-cream);
}

.btn.correct {
    background-color: var(--right-answer-green);
}

.btn.wrong {
    background-color: var(--wrong-answer-red);
}

.hide {
    display: none;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-btn {
    font-weight: bold;
}

#progress-bar {
    display: flex;
    justify-content: space-around;
}

#progress-text {
    text-align: left;
    font-size: large;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-gray);
    background-color: var(--blue);
    border-radius: 2rem;
    letter-spacing: 1px;
    border: solid 2px var(--light-gray);
    box-shadow: 0 0 2rem var(--light-cream);
    height: 4rem;
    padding: 1rem;
}

#progress-box {
    width: 15rem;
    height: 4rem;
    border: 0.5rem solid var(--blue);
    margin: 0 0 2rem 0;

}

#bar-full {
    height: 3rem;
    background-color: var(--blue);
    width: 0%;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--light-gray);
    margin: auto;
    height: 3rem;
}

.fa-brands {
    font-size: 2rem;
    color: var(--dark-gray);
}

.fa-brands:hover {
    color: var(--blue);
}

/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .btn-grid {
        grid-template-columns: repeat(2, minmax(25rem, 1fr));
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Large devices (larger desktops, 1400px and up)  */
@media (min-width: 1400px) {}